@model inventario.Dtos.ProductDto
<section class="full-width pageContent">
<section class="full-width header-well">
	<h3 class="titulo">Products</h3>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#tabNewProduct" class="mdl-tabs__tab is-active">New</a>
			<a href="#tabModifyProducts" class="mdl-tabs__tab">Modify</a>
		
	</div>
	@* Nuevo Productos *@
	<div class="mdl-tabs__panel is-active" id="tabNewProduct">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-primary text-center tittles">
						New Product
					</div>
					<div class="full-width panel-content">
							<form id="" asp-controller="Home" asp-action="PostProducto" method="post">
							<div class="mdl-grid">
								
								<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<input class="mdl-textfield__input" type="text" pattern="-?[0-9- ]*(\.[0-9]+)?" id="BarCode" asp-for="@Model.Id">
										<label class="mdl-textfield__label" for="BarCode">Id</label>
										<span class="mdl-textfield__error">Invalid barcode</span>
									</div>
								</div>
								<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameProduct" asp-for="@Model.Name">
										<label class="mdl-textfield__label" for="NameProduct">Name</label>
										<span class="mdl-textfield__error">Invalid name</span>
									</div>
								</div>
								<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="StrockProduct" asp-for="@Model.Amount">
										<label class="mdl-textfield__label" for="StrockProduct">Units</label>
										<span class="mdl-textfield__error">Invalid number</span>
									</div>
								</div>
								<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="number" pattern="-?[0-9.]*(\.[0-9]+)?" id="PriceProduct" asp-for="@Model.Price">
										<label class="mdl-textfield__label" for="PriceProduct">Price</label>
										<span class="mdl-textfield__error">Invalid price</span>
									</div>
								</div>
								<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
									<div class="mdl-textfield mdl-js-textfield">
										<input type="file">
									</div>
								</div>
							</div>
							<p class="text-center">
									<button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProduct">
									<i class="zmdi zmdi-plus"></i>
								</button>
								<div class="mdl-tooltip" for="btn-addProduct">Add Product</div>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	@* Modificar produtos *@
		<div class="mdl-tabs__panel is-active" id="tabModifyProducts">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="full-width panel mdl-shadow--2dp">
						<div class="full-width panel-tittle bg-primary text-center tittles">
							Modify Product
						</div>
						<div class="full-width panel-content">
							<form id="" asp-controller="Home" asp-action="ModificarProducto" method="post">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text" pattern="-?[0-9- ]*(\.[0-9]+)?" id="BarCode" asp-for="@Model.Id">
											<label class="mdl-textfield__label" for="BarCode">Id</label>
											<span class="mdl-textfield__error">Invalid barcode</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameProduct" asp-for="@Model.Name">
											<label class="mdl-textfield__label" for="NameProduct">Name</label>
											<span class="mdl-textfield__error">Invalid name</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="StrockProduct" asp-for="@Model.Amount">
											<label class="mdl-textfield__label" for="StrockProduct">Units</label>
											<span class="mdl-textfield__error">Invalid number</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="number" pattern="-?[0-9.]*(\.[0-9]+)?" id="PriceProduct" asp-for="@Model.Price">
											<label class="mdl-textfield__label" for="PriceProduct">Price</label>
											<span class="mdl-textfield__error">Invalid price</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
										<div class="mdl-textfield mdl-js-textfield">
											<input type="file">
										</div>
									</div>
								</div>
								<p class="text-center">
									<button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProduct">
										<i class="zmdi zmdi-plus"></i>
									</button>
									<div class="mdl-tooltip" for="btn-addProduct">Add Product</div>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>
</section>	